on:
  push:
    branches: main
  workflow_dispatch:

name: Render and Deploy

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      # Étape 1 : On construit le site (cela crée le dossier _site)
      - name: Render Quarto Project
        uses: quarto-dev/quarto-actions/render@v2

      # Étape 2 : On déploie le dossier _site sur la branche gh-pages
      # Cette action est plus robuste et créera la branche si besoin
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site