on:
  push:
    branches: main
  workflow_dispatch:

name: Render and Deploy

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      # 1. On installe R (C'est ce qui manquait !)
      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: 'release'

      # 2. On installe les librairies R (ggplot2, dplyr, etc.)
      # Si vous utilisez renv, cela va lire votre renv.lock.
      # Sinon, cela aide à préparer l'environnement.
      - name: Install R dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: |
            any::knitr
            any::rmarkdown
            any::jsonlite
            any::downlit
            any::xml2

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Render Quarto Project
        uses: quarto-dev/quarto-actions/render@v2

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site